
.chat_video {
    display: inline-block;
}



.local_video{
    width:30%;
    position:absolute;
    z-index: 0;
    bottom:1%;
    right:0;
}

.remote_video {
    z-index:-1;
    width: 100%    !important;
    height: auto   !important;
}




.plugin_content_area {
    display:none;
}
