
.chat_video {
    display: inline-block;
}

#end_button {
    background:red;
    color:white;
}

.local_video{
    width:30%;
    position:absolute;
    z-index: 0;
    bottom:1%;
    right:0;
}

.remote_video {
    z-index:-1;
    width: 100%    !important;
    height: auto   !important;
}

#video_container {
    position:relative;
    display:inline-block;
    overflow:hidden;
}

#plugin_button {
    background:#18d118;
}


.plugin_content_area {
    display:none;
}
